
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');


body {
    font-family: 'Baloo Tammudu 2', sans-serif;
    background-color: #FFCC29;
}

button {
	font-family: 'Baloo Tammudu 2', sans-serif;
}

